#vscode
.vscode
.cache
#intellisense
compile_commands.json
#mac
.DS_Store

#global openfoam

# symbolic links used at compile time for wmake
lnInclude/
#compiled apps
linux*64GccDPInt32Opt/

#binaries
*.out
*.dSYM

#data

*.dat

#log
*.log
logs/
